Repository sanselme/labs, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github-actions, devcontainer, build, command, configuration, docker, helm, scripts, deployment, tools

Add client, operator, and provider documentation.
  docs/client.md
  docs/operator.md
  docs/provider.md
Labels: none

Add new files and update existing files for CI/CD setup.
  .github/ISSUE_TEMPLATE/security.md
  .github/dependabot.yml
  .github/workflows/cicd.yml
  .github/workflows/cleanup.yaml
  .github/workflows/release.yml
  .github/workflows/review.yml
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.yamllint.yaml
  .vscode/launch.json
  .vscode/repoconfig.code-snippets
  .vscode/settings.json
  LICENSE
  README.md
  SECURITY.md
  hack/commit-msg
  hack/prepare-commit-msg
  tools/setup-vscode.sh
Labels: repo, github-actions, tools

Add new files and update existing files for CI/CD setup.
  .github/ISSUE_TEMPLATE/security.md
  .github/dependabot.yml
  .github/workflows/cicd.yml
  .github/workflows/cleanup.yaml
  .github/workflows/release.yml
  .github/workflows/review.yml
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.yamllint.yaml
  .vscode/launch.json
  .vscode/repoconfig.code-snippets
  .vscode/settings.json
  LICENSE
  README.md
  SECURITY.md
  hack/commit-msg
  hack/prepare-commit-msg
  tools/setup-vscode.sh
Labels: repo, github-actions, tools

Update README.md
  README.md
Labels: repo

feat: Add configuration files and update dependencies
  .trunk/configs/.isort.cfg
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/trunk.yaml
  hack/commit-msg
  hack/prepare-commit-msg
  tools/setup-vscode.sh
Labels: tools

Update README.md
  README.md
Labels: repo

Add client, operator, and provider documentation. (#5)
  .trunk/configs/.isort.cfg
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/trunk.yaml
  docs/client.md
  docs/operator.md
  docs/provider.md
  hack/commit-msg
  hack/prepare-commit-msg
  tools/setup-vscode.sh
Labels: tools

refactor(LICENSE): Update license text
  LICENSE
  README.md
  SECURITY.md
Labels: repo

Disable headings checking and upgrade trivy and trufflehog plugins to newer versions.
  .trunk/configs/.markdownlint.yaml
  .trunk/trunk.yaml
Labels: none

CI/CD workflow improvements and added new workflows for cleanup and releases.
  .github/workflows/cicd.yml
  .github/workflows/cleanup.yml
  .github/workflows/release.yml
  .github/workflows/review.yml
Labels: github-actions

Add security issue template for vulnerability report
  .github/ISSUE_TEMPLATE/security.md
Labels: none

Updates CICD resources (#7)
  .github/workflows/cicd.yml
  .github/workflows/cleanup.yml
  .github/workflows/release.yml
  .github/workflows/review.yml
  .trunk/configs/.markdownlint.yaml
  .trunk/trunk.yaml
  README.md
Labels: repo, github-actions

Add new files and update existing files for CI/CD setup.
  .trunk/configs/.markdownlint.yaml
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Add client, operator, and provider documentation. (#5)
  .trunk/trunk.yaml
Labels: none

Update devcontainer configuration and docker-compose file
  .devcontainer/devcontainer.json
  .docker/docker-compose.yaml
  .github/workflows/cleanup.yaml
  .shellcheckrc
  .trunk/configs/.isort.cfg
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/ruff.toml
  .trunk/trunk.yaml
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  hack/commit-msg
  hack/prepare-commit-msg
Labels: repo, github-actions, devcontainer

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - "*"

# Add 'github-actions' label to any changes in the .github directory
github-actions:
  - .github/*.yml
  - .github/workflows/*
  - .github/workflows/*/**
  - build/package/action.yml
  - build/package/actions/**

# Add 'devcontainer' label to files in the .devcontainer directory
# and any file with the .docker directory
devcontainer:
  - .devcontainer/*
  - .devcontainer/**/*
  - .docker/*
  - .docker/**/*

# Add 'build' label to files in the build directory
build:
  - build/*
  - build/**/*

# Add 'command' label to files in the cmd directory
command:
  - cmd/*
  - cmd/**/*

# Add 'config' label to files in the conf directory
# and any file with a .conf extension
configuration:
  - "*.conf"
  - conf/*
  - conf/**/*

# Add 'docker' label to Dockerfile
docker:
  - build/package/**/Dockerfile
  - build/package/Dockerfile

# Add 'helm' label to helm chart
helm:
  - deployment/chart/*
  - deployment/chart/**

# Add 'scripts' label to files in scripts
# and any file with a .sh extension
scripts:
  - "*.sh"
  - scripts/*
  - scripts/**/*

# Add 'deployment' label to files in the deployment directory
deployment:
  - deployment/*
  - deployment/**/*

# Add 'tools' label to change within the tools directory
tools:
  - tools/*
  - tools/*/**
